.container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
p{
    text-align: center;
    background-color: lightgrey;
    margin: 3px;
}